
body {
    font-family: "Mouse Memoirs", sans-serif;
}

.wrapper {
    position: relative;
    width: 1439px;
    height: 724px;
    border-radius: 0px;
    background: #FFFFFF;
    margin: 0 auto;
    font-family: "Mouse Memoirs", sans-serif;
    overflow: hidden;
}

.header {
    position: absolute;
    width: 1197px;
    height: 94px;
    left: 121px;
    top: 0px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    background: #EBDADA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header svg {
    position: absolute;
    width: 93px;
    height: 82px;
    left: 18px;
    top: 6px;
    border-radius: 293px;
}

.header_menu__signOut {
    position: absolute;
    width: 132px;
    height: 48px;
    left: 1070px;
    font-family: Mouse Memoirs, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    color: #000000;
    top: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    list-style: none;
}

.header_menu__title {
    position: absolute;
    width: 220px;
    height: 94px;
    font-family: Mouse Memoirs, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 82px;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 460px;
    top: -4px;
}

.header_menu__users {
    position: absolute;
    width: 132px;
    height: 48px;
    left: 970px;
    font-family: Mouse Memoirs, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 41px;
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: #000000;
    top: 25px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_menu__users a {
    text-decoration: none;
    color: black;
}


.header_menu__signOut:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(106, 95, 95, 0.59);
    cursor: pointer;
}

.header_menu__users:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(106, 95, 95, 0.59);
    cursor: pointer;
}


.middlePart {
    position: absolute;
    width: 1197px;
    height: 146px;
    left: 121px;
    top: 102px;
    margin: 0 auto;
    background: #E1AAAA;
    text-align: center;
}

.middlePart.svg {
    position: absolute;
    margin: 0 auto;
    width: 430px;
    height: 136px;
    text-align: center;
}


input:focus {
    border-color: #E1AAAA;
}

button:hover {
    box-shadow: 0px 0px 0px 0px;
    background: #EBDADA;
}


input {
    position: absolute;
    outline: none;
    margin: 0 auto;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
}



.users {
    position: absolute;
    width: 453px;
    height: 600px;
    left: 121px;
    top: 105px;

    background: #FEFBFB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


.users div {
    position: absolute;
    width: 453px;
    height: 50px;
    background: #E1AAAA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.users div h3 {
    position: absolute;
    width: 453px;
    top: 5px;
    font-family: Mouse Memoirs, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: #000000;
    margin: 0 auto;
    text-align: center;
}

.back {
    position: absolute;
    width: 232px;
    height: 50px;
    background: #E1AAAA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.back:hover {
    box-shadow: 0px 0px 0px 0px;
}

.back h3 {
    position: absolute;
    width: 232px;
    top: 5px;
    font-family: Mouse Memoirs, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: #000000;
    text-align: center;
    margin: 0 auto;
}



.users_item {
    position: absolute;
    width: 452px;
    left: 0;
    height: 80px !important;
    top: 60px;
    background: #FCEBEB !important;
    border: 1px solid rgba(225, 170, 170, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    list-style: none;

}

.users_logo {
    position: absolute;
    width: 50px;
    height: 80px;
    left: 140.95px;
    top: 193px;
    border-radius: 50px;
    padding-left: 10px;
    padding-top: 2px;
    margin-left: 10px;
}

.users_item__name {
    position: absolute;
    width: 284.63px;
    height: 32px;
    top: -20px;
    left: 75px;
    font-family: Mouse Memoirs, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    margin-left: 20px;
    color: #000000;
}

.users_item__status {
    position: absolute;
    width: 284.63px;
    height: 32px;
    top: 0px;
    left: 75px;
    font-family: Mouse Memoirs, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    margin-left: 20px;
    color: #000000;
}
.users_item:hover {
    box-shadow: 0px 0px 0px 0px;
}


.messages {
    position: absolute;
    width: 477px;
    height: 50px;
    left: 240px;
    background: #E1AAAA;
    border: 1px solid rgba(225, 170, 170, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.messages_main {
    position: absolute;
    width: 718px;
    height: 600px;
    left: 601px;
    top: 105px;
    background: #FEFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}