.part {
    position: absolute;
    width: 1197px;
    height: 500px;
    left: 121px;
    top: 248px;
    background: #E1AAAA;
}

form {
    position: absolute;
    width: 393px;
    height: 400px;
    left: calc(20px + 50% - 493px / 2);
    top: 5px;
    margin: 0 auto;
    background: #FFFFFF;
    border: 1px solid #D9D7D7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(106, 95, 95, 0.59);
    border-radius: 10px;
}

form h1 {
    position: absolute;
    width: 231px;
    height: 42px;
    left: calc(50% - 231px / 2 - 3px);
    top: 29px;
    font-family: Mouse Memoirs, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 53px;
    text-align: center;
    color: #000000;
}

input {
    position: absolute;
    outline: none;
    width: 350px;
    height: 20px;
    left: calc(50% - 231px / 2 - 63px);
    top: 130px;
    margin: 0 auto;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
}

.password {
    position: absolute;
    outline: none;
    width: 350px;
    height: 20px;
    left: calc(50% - 231px / 2 - 63px);
    top: 180px;
    margin: 0 auto;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0;
    border-width: 0 0 2px;
    border-color: black;
}

button {
    position: absolute;
    width: 227px;
    height: 66px;
    left: calc(50% - 227px / 2 + 2px);
    top: calc(50% - 66px / 2 + 70px);
    font-family: Mouse Memoirs, monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    color: #000000;
    margin: 0 auto;
    background: #E1AAAA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(170, 148, 148, 0.25);
    border-radius: 10px;
}
.forget_password {
    font-family: Mouse Memoirs, monospace;
    position: absolute;
    width: 227px;
    height: 66px;
    left: calc(50% - 227px / 2 + 2px);
    top: calc(50% - 66px / 2 + 150px);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 auto;
}